<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="chromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            
            <class name="tests.SauceDemoTest">
                <methods>
                    <include name="completeCheckoutFlow"/>
                    <include name="verifySortingLowToHigh"/>
                    <include name="stepwiseCheckoutValidation"/>
                    <include name="removeProductAndValidateCartUpdates"/>
                    <include name="sortResetAfterRefresh"/>
                    <include name="verifyPriceSummaryCalculation"/>
                    <include name="verifySessionCookieAfterLogin"/>
                    <include name="testLocalStorageAfterLogin"/>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>